@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Sans KR", sans-serif;
}

.up-animation {
  transform: translateY(30px);
  opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.delay-2 {
  transition-delay: 0.5s;
}

.delay-3 {
  transition-delay: 1s;
}

.swiper-slide-active .up-animation {
  transform: none;
  opacity: 1;
}

.archiving .swiper-button-next {
  top: 42%;
  right: -35px;
}

.archiving .swiper-button-prev {
  top: 42%;
  left: -35px;
}

.archiving .swiper-pagination {
  position: relative;
  margin-top: 25px;
}

.projects .swiper-button-next {
  top: 45%;
  right: -45px;
  color: white;
}

.projects .swiper-button-prev {
  top: 45%;
  left: -45px;
  color: white;
}

.projects .swiper-pagination {
  position: relative;
  margin-top: 25px;
}

.projects .swiper-pagination-bullet {
  background-color: white;
}

@media (max-width: 768px) {
  .projects .swiper-button-next {
    right: -35px;
  }

  .projects .swiper-button-prev {
    left: -35px;
  }
}
