@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Sans KR", sans-serif;
}

.up-animation {
  transform: translateY(30px);
  opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.delay-2 {
  transition-delay: 0.5s;
}

.delay-3 {
  transition-delay: 1s;
}

.swiper-slide-active .up-animation {
  transform: none;
  opacity: 1;
}

.archiving .swiper-button-next {
  top: 55%;
  right: 10px;
}

.archiving .swiper-button-prev {
  top: 55%;
  left: 10px;
}

.archiving .swiper-pagination {
  position: relative;
  margin-top: 25px;
}
